<div class="full-height">
  <div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
    <div class="carousel-buttons">
      <i class="carousel-b material-icons prev-btn">keyboard_arrow_left</i>
      <i class="carousel-b material-icons next-btn">keyboard_arrow_right</i>
    </div>
  </div>
  <div class="carousel-item red white-text first-carousel-item" href="#one!">
    <div class="carousel-text-block">
      <h2 class="carousel-header">Добро пожаловать!</h2>
      <p class="white-text">Хотите стать настоящим профессионалом? Вы на верном пути.</p>
      <i class="large material-icons">beenhere</i>
    </div>
  </div>
  <div class="carousel-item amber white-text second-carousel-item" href="#two!">
    <div class="carousel-text-block">
      <h2 class="carousel-header">Выбор за Вами!</h2>
      <p class="white-text">Тираспольский Техникум Информатики и Права предоставляет возможность обучаться в следующих сферах:</p>
      <div class="scopes">
        <div class="scope-1">
          <p class="white-text">Юрист</p>
          <i class="large material-icons">school</i>
        </div>
        <div class="scope-2">
          <p class="white-text">Программист</p>
          <i class="large material-icons">laptop_windows</i>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-item green white-text third-carousel-item" href="#three!">
    <div class="carousel-text-block">
      <h2 class="carousel-header">Будьте уверены</h2>
      <p class="white-text">Квалифицированный педагогический состав и дружный студенческий коллектив не дадут вам разочароваться в нас!</p>
      <i class="large material-icons">group</i>
    </div>
  </div>
  <div class="carousel-item blue white-text fourth-carousel-item" href="#four!">
    <div class="carousel-text-block">
      <h2 class="carousel-header">Заинтересованы?</h2>
      <p class="white-text">Если вам необходим современный взгляд на две самые востребованные профессии,свяжитесь с нами </p>
      <i class="large material-icons contacts">contacts</i>
    </div>
  </div>
  </div>
</div>
 